
    <article article-data="data.article" short-description="false"></article>

    <form id="comment-form" ng-submit="addComment()">
        <div class="form-group">
            <label for="comment-text">Comment:</label>
            <textarea class="animate-cubic" id="comment-text" ng-model="comment"
                      wrap="off" cols="30" rows="5" placeholder="Type your comment..." ></textarea>
        </div>

        <button type="submit" class="btn animate-cubic box-shadow-down">Submit    <span class="glyphicon glyphicon-pencil"></span></button>
    </form>

    <h3>Top {{ data.comments.length }} Comments:</h3>
    <div class="media">
        <div class="media-body" ng-repeat="c in data.comments">
            <h4 class="media-heading">Author: {{ c.author }}</h4>
            <div ng-bind-html="c.body_html | htmldecode" ></div>
            <hr />
        </div>
    </div>