
<div class="row">

    <form id="subreddit-form" class="form-inline" ng-submit="displayListing()">
        <div class="form-group">
            <label for="subreddit-input">Subreddits:</label>
            <input class="animate-cubic" id="subreddit-input" type="text" ng-model="subreddit" placeholder="Type your subreddits..." />
        </div>


        <button type="submit" class="btn animate-cubic">Submit</button>

    </form>

</div>





<div class="row">
    <ul id="article-list" class="list-unstyled">
        <li ng-repeat="a in articles" >
            <a href="/#/details/{{ a.subreddit }}/{{ a.id }}" title="" >
                <div class="box-article col-xs-12"  >
                    <img ng-src="{{ (!a.thumbnail || a.thumbnail == 'self' || a.thumbnail == 'default') && '/images/reddit-logo.png'  || a.thumbnail }}" class=" pull-left"/>
                    <h3 class="title">{{ a.title }}</h3>

                </div>
            </a>

        </li>
    </ul>


</div>
