
<div class="row">

    <form id="subreddit-form" ng-submit="displayListing()">
        <div class="form-group">
            <label for="subreddit-input">Subreddits:</label>
            <input class="animate-cubic" id="subreddit-input" type="text" ng-model="subreddit" placeholder="Type your subreddits..." />
        </div>

        <button type="submit" class="btn animate-cubic box-shadow-down">Search    <span class="glyphicon glyphicon-search"></span></button>
    </form>

</div>


<div class="row pager-box box-shadow-down">

    <h4 class="current-page">{{ currentPage }} page</h4>
    <pager total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" align="false" ng-change="pageChanged()"></pager>

</div>

<div class="row">

    <ul id="article-list" class="list-unstyled" articles-list="articles">

        <li ng-repeat="a in articles" >
            <a href="/#/details/{{ a.subreddit }}/{{ a.id }}" title="" >
                <article article-data="a" short-description="true"></article>
            </a>
        </li>

    </ul>


</div>
