
<div class="row">

    <form id="subreddit-form" ng-submit="submitSubreddit()">
        <div class="form-group">
            <label for="subreddit-input">Subreddits:</label>
            <input class="animate-cubic" id="subreddit-input" type="text" ng-model="subreddit" placeholder="Type your subreddits..." />
        </div>

        <button type="submit" class="btn animate-cubic box-shadow-down">Search    <span class="glyphicon glyphicon-search"></span></button>
    </form>

</div>


<div class="row pager-box box-shadow-down">

    <h4 class="current-page">{{ currentPage }} page</h4>
    <pager total-items="totalItems" ng-model="currentPage"
           disable-pager="disablePager" items-per-page="itemsPerPage" align="false"></pager>

</div>

<div id="listing-box" class="row" ng-init="ifListing=false">
    <spinner if-spinner="ifSpinner" url-spinner="images/gif-load.gif"></spinner>

    <ul id="article-list" class="list-unstyled animate-if" articles-list="articles" ng-if="ifListing">

        <li ng-repeat="a in articles" >
            <a href="/#/details/{{ a.subreddit }}/{{ a.id }}" title="" >
                <article article-data="a" short-description="true"></article>
            </a>
        </li>

    </ul>

</div>


<script type="text/ng-template" id="modalErrorListing.html">
    <div class="modal-header">
        <h3 class="modal-title">Error!</h3>
    </div>
    <div class="modal-body">
        <p>Your subreddits doesn't exist. Please try another phrase :)</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>